version: "3.9"

services:
  web:
    build: .
    container_name: rails_icecream_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: development

volumes:
  bundle_cache:
