version: "3.9"
services:
  web:
    build: .
    container_name: rails_icecream_app
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    stdin_open: true
    tty: true
    environment:
      RAILS_ENV: development
    command: bash -c "bin/rails db:prepare && bundle exec rails s -b '0.0.0.0'"